[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
openpyxl = "*"
plotly = "*"
matplotlib = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "*"
